{% extends 'base.html.twig' %}

{% block title %}{{ 'titlemdp'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        {{ form_start(form) }}
            <div class="card-header">
                <h1 class="card-title">{{ 'titlemdp'|trans }}</h1>
            </div>
            <div class="card-body">
                {{ form_row(form.oldPassword) }}
                {{ form_errors(registrationForm.oldPassword) }}
                {{ form_row(form.plainPassword) }}
                {{ form_errors(registrationForm.plainPassword) }}
                <button type="submit" class="btn btn-dark w-100">{{ 'btneditmdr'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
    

{% endblock %}
