{% extends 'base.html.twig' %}

{% block title %}{{ 'login'|trans }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-center">{{ 'nav.login'|trans }}</h1>
        </div>
        <div class="card-body">
            {{ 'notaccount'|trans }}    
            <a class="btn" href="{{ path('app_register') }}">
                {{ 'nav.register'|trans }}
            </a>
            <br/>
            <label for="inputEmail" class="mt-3">{{ 'profile.email'|trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label class="mt-3" for="inputPassword">{{ 'profile.password'|trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
            <button class="btn btn-dark w-100 mt-3" type="submit">{{ 'profile.login.signin'|trans }}</button>
        </div>
    </div>
    
</form>
{% endblock %}
