{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.register'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-center">{{ 'nav.register'|trans }}</h1>
        </div>
        <div class="card-body">
             {{ form_start(registrationForm) }}
                {{ 'alreadyhaveaccount'|trans }}    
                <a class="btn" href="{{ path('app_login') }}">
                    {{ 'nav.login'|trans }}
                </a>
                <br/>
                {{ form_errors(registrationForm) }}
                <label class="mt-2" for="username">{{ 'profile.username'|trans }}</label>
                {{ form_widget(registrationForm.username) }}
                {{ form_errors(registrationForm.username) }}
                <label class="mt-2" for="username">{{ 'profile.email'|trans }}</label>
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
                {{ form_widget(registrationForm.plainPassword, { label: 'Password',
                    attr: { autocomplete: 'new-password' }
                }) }}
                {{ form_errors(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_errors(registrationForm.agreeTerms) }}
                <button type="submit" class="btn btn-dark w-100 mt-3">{{ 'nav.register'|trans }}</button>

            {{ form_end(registrationForm) }}
        </div>
    </div>


   

{% endblock %}
