<div class="card my-4">
    <div class="card-header">
        <h1 class="card-title text-center">{{ 'produit.create'|trans }}</h1>
    </div>
    
    {{ form_start(form, {'attr': {'class': 'card-body'}}) }}
    
        <label for="">{{ 'produit.nom'|trans }}</label>
        {{ form_widget(form.nom, {'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_errors(form.nom) }}
        <label for="">{{ 'produit.description'|trans }}</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_errors(form.description) }}
        <label for="">{{ 'produit.prix'|trans }}</label>
        {{ form_widget(form.prix, {'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_errors(form.prix) }}
        <label for="">{{ 'produit.stock'|trans }}</label>
        {{ form_widget(form.stock, {'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_errors(form.stock) }}
        <label for="">{{ 'produit.categorie'|trans }}</label>
        {{ form_widget(form.categorie, {'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_errors(form.categorie) }}
        <label for="">{{ 'produit.photo'|trans }}</label>
        {{ form_errors(form.photo) }}
        {{ form_widget(form.photo, {'attr': {'class': 'form-control mb-3'}}) }}
        <button class="btn btn-dark w-100">{{ 'produit.buttonsave'|trans }}</button>
    {{ form_end(form) }}
</div>

