{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <!--{% if is_granted('ROLE_ADMIN') %}
        <ul class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_produit_new') }}"> Ajouter un Produit </a>
            </li>
        </ul>
    {% endif %}-->

    {% if is_granted('ROLE_ADMIN') %}
    
    <div class="alert alert-dark" href="{{ path('app_produit_new') }}" style="margin: 15px; text-align:center;" >Ajouter un nouveau Produit</div>
    {% endif %}

    <h1>Produit </h1>

    {% if produits is not empty %}
    <div class="row"> <!-- Ajout de la classe row ici -->
        {% for prod in produits %}
            <div class="col"> <!-- Chaque carte occupe 3 colonnes sur medium devices et 6 sur small devices -->
                <div class="card">
                    <img style="object-fit: contain" width="300px" height="300px" class="card-img-top" src="{{ asset('uploads/images/products_photo/' ~ prod.photo) }}" alt="Image de {{ prod.nom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ prod.nom }}</h5>
                        <p class="card-text">{{ prod.description }}</p>
                        <p class="card-text">{{ prod.prix }} €</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        <a href="{{ path('app_produit_show', {'id': prod.id}) }}" class="card-link">Plus de détails sur le produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Il n'y a aucun produit</p>
{% endif %}

    <!--<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>
                    <img src="{{asset('uploads/images/products_photo/' ~ produit.photo)}}" style="height: 50px"/>
                </td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>-->
{% endblock %}
