{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.produittitle'|trans }}{% endblock %}

{% block body %}

    {% set displayProd = 0 %}

    <h1 class="text-center">{{ 'produit.title'|trans }}</h1>
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
        <button type="button" class="btn btn-outline-secondary"><a href="{{ path('app_produit_new') }}" style="text-decoration: none; color: black;">{{ 'produit.buttonadd'|trans }}</a></button>
   {% endif %}
    {% if produits is not empty %}
    <div class="row mt-3">
        {% for prod in produits %}
            <div class="col-4 mb-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay={{ 100 * displayProd }}>
                <div class="card h-100 border-0 shadow-sm">
                    <img style="object-fit: cover" width="400px" height="400px" class="card-img-top" src="{{ asset('uploads/images/products_photo/' ~ prod.photo) }}" alt="{{ prod.nom }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ prod.nom }}</h5>
                        <p class="card-text text-center">{{ prod.prix }} €</p>
                        <div class="d-flex flex-column align-items-center">
                            <a type="button" href="{{ path('app_panier_new', {'id': prod.id}) }}" class="btn btn-dark">{{ 'produit.buttonadd2cart'|trans }}</a>
                            <a type="button" href="{{ path('app_produit_show', {'id': prod.id}) }}" class="btn mt-2">{{ 'produit.buttondetail'|trans }}</a>
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                <div class="d-flex flex-row gap-2">
                                    <a type="button" href="{{ path('app_produit_edit', {'id': prod.id}) }}" class="btn btn-outline-secondary">{{ 'produit.buttonedit'|trans }}</a>

                                    {{ include('produit/_delete_form.html.twig', {'produit': prod}) }}
                                </div>
                            {% endif %}
                        </div>
                    
                    </div>
                </div>               
                {% set displayProd = displayProd + 1 %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Il n'y a aucun produit</p>
{% endif %}
{% endblock %}
