{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    
    <div class="alert alert-dark" href="{{ path('app_produit_new') }}" style="margin: 15px; text-align:center;" ><a href="{{ path('app_produit_new') }}" style="text-decoration: none; color: black;">Ajouter un nouveau Produit</a></div>
    <button type="button" class="btn btn-outline-secondary"><a href="{{ path('app_produit_new') }}" style="text-decoration: none; color: black;">Ajouter un nouveau Produit</a></button>
    {% elseif is_granted('ROLE_ADMIN') %}
    
    <div class="alert alert-dark" href="{{ path('app_produit_new') }}" style="margin: 15px; text-align:center;" ><a href="{{ path('app_produit_new') }}" style="text-decoration: none; color: black;">Ajouter un nouveau Produit</a></div>
    <button type="button" class="btn btn-outline-secondary"><a href="{{ path('app_produit_new') }}" style="text-decoration: none; color: black;">Ajouter un nouveau Produit</a></button>
    {% endif %}

    <h1 style="text-align:center"> Il n'ya Plus qu'à choisir une produit!</h1>

    {% if produits is not empty %}
    <div class="row">
        {% for prod in produits %}
            <div class="col-md-4 mb-4"> <!-- Taille de colonne fixe et marge en bas -->
                <div class="card h-100"> <!-- Hauteur égale pour toutes les cartes -->
                    <img style="object-fit: contain" width="300px" height="300px" class="card-img-top" src="{{ asset('uploads/images/products_photo/' ~ prod.photo) }}" alt="Image de {{ prod.nom }}"> <!-- Image réactive -->
                    <div class="card-body">
                        <h5 class="card-title">{{ prod.nom }}</h5>
                        <p class="card-text">{{ prod.description }}</p>
                        <p class="card-text">{{ prod.prix }} €</p>
                    </div>
                    <div class="card-footer">
                        <a type="button" href="{{ path('app_panier_new', {'id': prod.id}) }}" class="btn btn-primary btn-sm">Ajouter au Panier</a>
                        <a type="button" href="{{ path('app_produit_show', {'id': prod.id}) }}" class="btn btn-secondary btn-sm">Plus de détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Il n'y a aucun produit</p>
{% endif %}

    <!--<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>
                    <img src="{{asset('uploads/images/products_photo/' ~ produit.photo)}}" style="height: 50px"/>
                </td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>-->
{% endblock %}
