{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<div class="landing">
    <h1 class="text-center fw-bold accueil-title" data-aos="fade-up" data-aos-duration="1000">URBAN CHIC</h1>
    <p class="text-center accueil-subtitle" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">Le parfum pour les shegueys de Paris</p>
    <div class="d-flex flex-row">
        <a href={{ path('app_produit_index') }} class="btn btn-primary" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Voir nos produits</a>
        <a href="#aboutus" class="btn" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">En savoir plus...</a>
    </div>
</div>

<div class="articles">
    <h2>Gamme de Parfum</h2>
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
        <button type="button" class="btn btn-outline-secondary"><a href="{{ path('app_produit_new') }}" style="text-decoration: none; color: black;">Ajouter un nouveau Produit</a></button>
    {% endif %}
    {% set displayProd = 0 %}
    {% if produits is not empty %}
        <div class="row mt-3">
            {% for prod in produits %}
                {% if displayProd < 6 %}
                <div class="col-4 mb-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay={{ 100 * displayProd }}>
                    <div class="card h-100 border-0">
                        <img style="object-fit: contain" width="300px" height="300px" class="card-img-top" src="{{ asset('uploads/images/products_photo/' ~ prod.photo) }}" alt="Image de {{ prod.nom }}"> <!-- Image réactive -->
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ prod.nom }}</h5>
                            <p class="card-text text-center">{{ prod.prix }} €</p>
                            <div class="d-flex flex-column align-items-center">
                                <a type="button" href="{{ path('app_panier_new', {'id': prod.id}) }}" class="btn btn-dark btn-sm">Ajouter au Panier</a>
                                <a type="button" href="{{ path('app_produit_show', {'id': prod.id}) }}" class="btn btn-sm">Plus de détails</a>
                            </div>
                        
                        </div>
                    </div>
                </div>
                {% set displayProd = displayProd + 1 %}
                {% endif %}
            {% endfor %}
            <a class="btn btn-secondary text-center" href={{ path('app_produit_index')}}>Voir plus de produit</a>
        </div>
    {% else %}
        <p>Il n'y a aucun produit</p>
    {% endif %}
</div>
    

{% endblock %}
