<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Urban Chic{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap" rel="stylesheet">        
        <link rel='stylesheet' href={{ asset('style.css')}}></link> 
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
   <body>
        <nav class="navbar navbar-expand-lg navstyle">
            <a class="navbar-brand fw-bold" href="{{ path('app_accueil') }}">Urban Chic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex flex-row justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_accueil') }}"> {{ 'nav.home'|trans }} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_produit_index') }}"> {{ 'nav.produit'|trans }} </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                     <div class="ms-auto d-flex align-items-center gap-2">
                        {% if is_granted('ROLE_SUPER_ADMIN')%}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_produit_new') }}">{{ 'nav.addproduit'|trans }}</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_categorie_new') }}">{{ 'nav.addcategorie'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_clientList') }}">{{ 'nav.listuser'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_panier_admin_show') }}">{{ 'nav.listcommand'|trans }}</a>
                            </li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                             <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_produit_new') }}">{{ 'nav.addproduit'|trans }}</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_categorie_new') }}">{{ 'nav.addcategorie'|trans }}</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class=" btn btn-dark" href="{{ path('app_panier_index') }}"> <i class="fi fi-rr-shopping-cart"></i> {{ 'nav.cart'|trans }} </a>
                        </li>  
                        <li class="nav-item">
                             {% if app.user and app.user.getProfilePicture() %}
                                <a class="nav-link" href={{ path('app_profile') }}>
                                    <img src="{{ asset('uploads/images/profile_pictures/' ~ app.user.getProfilePicture()) }}" class="rounded-circle" style="object-fit: contain" width="40px" height="40px" alt="Photo de profil">
                                </a>
                            {% else %}
                            {% endif %}
                            {% if app.user and app.user.username %}
                                <a class="nav-link" href={{ path('app_profile') }}>
                                    <span class="ms-2">{{ app.user.username }}</span>
                                </a>
                                <li class="nav-item">
                                    <a class="nav-link" href={{ path('app_logout') }}>{{ 'nav.logout'|trans }}</a>
                                </li>                  
                            {% else %}
                             <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}"> {{ 'nav.login'|trans }} </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}"> {{ 'nav.register'|trans }} </a>
                            </li>
                            {% endif %} 
                        </li>       

                    </div>
                </ul>
            </div>
        </nav>
         {% for type, messages in app.flashes %}
                {% for msg in messages %}
                <div class="d-flex row justify-content-end">
                    <div class="m-3 w-25" style="position: absolute !important" data-aos="fade-left">
                        <p class="alert text-left alert-{{type}}">{{msg}}</p>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        <div class="container mt-3">
            {% block body %}{% endblock %}
        </div>
        
    <div class="footer">
        <div class="container">
            <p>&copy; 2023 Urban Chic. {{ 'footer.arr'|trans }}.</p>
        </div>
    </div>
        
    </body>
    

    <script type="text/javascript">
        AOS.init()
    </script>
</html>
