{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.list'|trans }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">{{ 'profile.list'|trans }}</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ 'profile.username'|trans }}</th>
                        <th>{{ 'profile.email'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <!-- Ajoutez d'autres données utilisateur si nécessaire -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}