{{ form_start(form) }}
    <label for="nom">{{ 'categorie.nom'|trans }}</label>
    {{ form_widget(form.nom) }}
    <button class="btn btn-dark mt-3 w-100">{{ 'categorie.btnsave'|trans }}</button>
{{ form_end(form) }}
